body {
  font-family: 'Roboto', sans-serif;
}

/* Styling for the banner */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  padding: 20px;
}

.banner img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.banner h2 {
  margin: 0px;
}

h3 {
  margin-bottom: 5px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.label {
  flex: 1;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.switch {
  margin-right: 20px;
}